{{ define "head" }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script>
    $(function() {
      $("#internship-content ul").addClass("list-disc list-inside mx-20");
      $(".markdown-linkify a").addClass("text-blue-500");

      const popup_overlay = $("#popup-overlay");

      $("#internship-btn").on("click", function() {
        $("#internship-content").removeClass("hidden").addClass("relative");
        popup_overlay.removeClass("hidden");
      });

      $("#exit-internship").on("click", function() {
        $("#internship-content").addClass("hidden").removeClass("relative");
        popup_overlay.addClass("hidden");
      });

      $(".click-to-expand").on("click", function() {
        $(this).parent(".base-item").find(".expanded").removeClass("hidden").addClass("flex flex-col");
        popup_overlay.removeClass("hidden");
      });
      $(".exit-popup").on("click", function() {
        $(this).closest(".expanded").addClass("hidden").removeClass("flex flex-col");
        popup_overlay.addClass("hidden");
      });
    });
  </script>
{{ end }}

{{ define "main" }}

  <div class="flex flex-col justify-center bg-linear-to-l from-teal-400 to-blue-400 w-screen min-h-screen">
    {{ partial "nav" (dict "context" . "sticky" true) }}

    <div class="flex justify-center w-full mx-auto" id="internship-img">
      {{/* This little trick creates a grid with only one row/col, and puts both divs in row 1 col 1 */}}
      {{/* This allows us to overlay a shadow div, which dulls the image */}}
      <div class="grid grid-cols-1 place-items-center w-full transition pt-10 motion-safe:hover:scale-105 hover:cursor-pointer">
        <img src='{{ relURL "img/events/alice.jpeg" }}' class="flex justify-center row-start-1 col-start-1 object-none rounded-lg w-10/12 h-[50vh] md:h-[60vh] shadow-inner">
        {{/* This tints the image to make it less bright */}}
        <div class="flex flex-col justify-between items-center row-start-1 col-start-1 pt-10 pb-5 bg-linear-to-b from-black/60 via-black/20 to-black/80 z-10 w-10/12 h-[50vh] md:h-[60vh] rounded-lg" id="internship-btn">
          <h1 class="text-5xl text-white text-bold text-center">Internship Opportunities</h1>
          <p class="text-lg text-gray-300 w-8/12 text-center font-medium">
            There are a lot of opportunities avaliable for TJ students for Physics Internships.
            Here are just a few common ones students do each year.
          </p>
        </div>
      </div>
    </div>
    <div class="flex w-full h-full justify-center transition rounded-lg hidden rounded-sm shadow-xl z-50 pt-10" id="internship-content">
      <div class="fixed m-auto top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex flex-col w-11/12 h-auto max-h-[80%] md:max-h-auto md:min-h-[90%] bg-white rounded-lg shadow-xl p-6">
        <i class="fa-solid fa-x flex self-end pr-10 pt-5 hover:cursor-pointer" id="exit-internship"></i>
        <div class="markdown-linkify overflow-y-scroll">
          {{ .Content }}
        </div>
      </div>
    </div>
    <div class="hidden fixed top-0 left-0 w-full h-full bg-black opacity-50 z-30" id="popup-overlay"></div>
    <div class="flex flex-col justify-center w-full pt-20">
      {{ range .Site.Data.events }}
        <div class="flex flex-col justify-center items-center w-full py-5 first:pt-0">
          <h2 class="text-5xl text-white text-center pb-5">{{ .description }}</h2>
          <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 w-10/12">
            {{ range .items }}
              <div class="flex base-item">
                <div class="flex hover:scale-105 hover:cursor-pointer click-to-expand">
                  <div class="grid grid-cols-1 place-items-center transition z-0">
                    <div class="flex justify-center col-start-1 row-start-1 my-3 mx-3 h-[40vh]">
                      <img src='{{ printf "img/events/%s" .cover | relURL }}' class="aspect-square rounded-lg object-cover">
                    </div>
                    <div class="flex flex-col justify-between row-start-1 col-start-1 h-[40vh] aspect-square rounded-lg bg-linear-to-b from-black/60 via-black/20 to-black/80">
                      <p class="text-white text-2xl text-center pt-3 mx-2">{{ .title }}</p>
                      <p class="text-white text-sm text-center pb-2">Click to view</p>
                    </div>
                  </div>
                </div>
                {{/* The popup when clicked */}}
                <div class="hidden fixed m-auto top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-40 bg-white w-11/12 opacity-100 expanded p-5 rounded-lg z-50 sm:h-5/6 overflow-y-scroll">
                  <div class="flex justify-end">
                    <i class="fa-solid fa-x pr-10 pt-5 scale-150 hover:cursor-pointer exit-popup"></i>
                  </div>
                  <h3 class="text-5xl text-blue-500 text-center">{{ .title }}</h3>
                  <p class="text-lg text-center py-2">
                    Presented by {{ .presenter }} - {{ .date }}
                  </p>
                  {{ if isset . "extra" }}
                    <p class="text-xl text-center markdown-linkify">
                      {{ transform.Markdownify .extra }}
                    </p>
                  {{ end }}
                  <iframe class="aspect-video w-11/12 text-center m-auto rounded-md z-50" src="{{ .video }}" title="{{ .title }} - {{ .author }}"
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
              </div>
            {{ end }}
          </div>
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}

