<script src="js/nav.js"></script>
<nav class="fixed inset-x-0 top-0 bg-transparent transition-all">
  <div class="max-w-screen-xl flex items-center mx-auto p-4">
    <div class="w-1/2">
      <a class="px-5 text-white text-[2vh] font-medium" href="{{ $.Site.BaseURL }}" goto="home">Home</a>
      <a class="px-5 text-white text-[2vh] font-medium">TJPhO</a>
      <a class="px-5 text-white text-[2vh] font-medium">Events</a>
      <!-- <a class="px-5 text-white text-[2vh] font-medium">Rankings</a> -->
      <a class="px-5 text-white text-[2vh] font-medium">Past</a>
    </div>
    <a href="{{ $.Site.BaseURL }}">
      <img src="img/logo/whitegreen.png" class="h-[4vh]">
    </a>
    <div class="w-1/2">
      <a class="px-5 text-white text-[2vh] font-medium">A Team</a>
      <a class="px-5 text-white text-[2vh] font-medium">B Team</a>
      <a class="px-5 text-white text-[2vh] font-medium">C Team</a>
    </div>
  </div>
</nav>
