<script src='{{ relURL "js/nav.js" }}'></script>
<script>
  const bluegreen = '{{ relURL "img/logo/bluegreen.png" }}';
  const whitegreen = '{{ relURL "img/logo/whitegreen.png" }}';
</script>
<nav class="{{ if $.sticky }} sticky {{ else }} fixed {{ end }} inset-x-0 top-0 bg-transparent transition-all z-[1000]">
  <div class="max-w-screen-xl hidden md:flex md:items-center mx-auto p-4">
    <div class="flex justify-center w-1/2">
      <a class="px-5 text-white text-[2vh] font-medium" href='{{ absURL "" }}' goto="home">Home</a>
      <a class="px-5 text-white text-[2vh] font-medium">TJPhO</a>
      <a class="px-5 text-white text-[2vh] font-medium" href='{{ absURL "events" }}'>Events</a>
      <!-- <a class="px-5 text-white text-[2vh] font-medium">Rankings</a> -->
      <a class="px-5 text-white text-[2vh] font-medium">Past</a>
    </div>
    <a href='{{ absURL "" }}'>
      <img src='{{ relURL "img/logo/whitegreen.png" }}' class="h-[4vh]">
    </a>
    <div class="flex justify-center w-1/2">
      <a class="px-5 text-white text-[2vh] font-medium">A Team</a>
      <a class="px-5 text-white text-[2vh] font-medium">B Team</a>
      <a class="px-5 text-white text-[2vh] font-medium">C Team</a>
    </div>
  </div>
  <div class="flex flex-col w-full bg-white md:hidden">
    <button type="button" class="inline-flex justify-between w-full items-center p-2 w-10 h-10 justify-start text-sm text-gray-500" aria-controls="navbar-default" aria-expanded="false" id="navbar-button">
      <div class="w-5 h-5">
        <span class="sr-only">Open main menu</span>
        <svg class="w-full h-full" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
      </div>
      <a href='{{ absURL "" }}'>
        <img src='{{ relURL "img/logo/bluegreen.png" }}' class="h-[4vh]">
      </a>
      <div class="w-5 h-5"></div>
    </button>
    <div class="hidden bg-white w-full" id="navbar-default">
      <ul class="font-medium flex flex-col p-4">
        <li>
          <a href='{{ absURL "" }}' class="block py-2 px-3 text-blue-400 rounded">Home</a>
        </li>
        <li>
          <a href="#" class="block py-2 px-3 text-blue-400 rounded">TJPhO</a>
        </li>
        <li>
          <a href='{{ absURL "events" }}' class="block py-2 px-3 text-blue-400 rounded">Events</a>
        </li>
        <li>
          <a href="#" class="block py-2 px-3 text-blue-400 rounded">Past</a>
        </li>
        <li>
          <a href="#" class="block py-2 px-3 text-blue-400 rounded">A Team</a>
        </li>
        <li>
          <a href="#" class="block py-2 px-3 text-blue-400 rounded">B Team</a>
        </li>
        <li>
          <a href="#" class="block py-2 px-3 text-blue-400 rounded">C Team</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
